.main{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 3px;
    gap: 8px;
}

.main div{
    background-color: gray;
    border: 7px solid black;
    display: flex;
    justify-content: center;
    height: 230px;
    width: 240px;
    border-radius: 1000px;
    
    
}