body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1032px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.wrapper div {
    padding: 20px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding-bottom: 10px;
    height: 400px;
}

.wrapper div:nth-child(3){
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}