
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 10px;
    border: 1px solid gray;
}

.grid-container div{
    height: 50px;
    background-color: rebeccapurple;
}