@mixin flexCenter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    
}

@mixin card{
    display: flex;
    align-items: center;
    flex-direction: column;
}